html,body{
  font-size: 16px;
}
div{
  box-sizing: border-box;
}
a{
	text-decoration: none;
	color: inherit;
}
button:focus{
	outline: 0;
}
button{
	border: 0;
	padding: 0;
	background-color: #bbb;
	cursor: pointer;
}
img{
	width: 100%;
	height: 100%;
}
input {
	outline: none;
}
table{
	border-collapse: collapse;
}


