a{
	text-decoration: none;
}
button:focus{
	outline: 0;
}
button{
	border: 0;
	padding: 0;
	background-color: #bbb;
	cursor: pointer;
}
img{
	width: 100%;
	height: 100%;
}
html,body{
	font-size: 16px;
}
input {
	outline: none;
}

